[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Akosua-Addrah
	email = 101870117+Akosua-Addrah@users.noreply.github.com
